.drexel-yellow {
    background-color: #FFC600;
}

.drexel-blue {
    background-color: #07294D
}

.drexel-light-blue {
    background-color: #6CACE4
}

.drexel-font-yellow {
   color: #FFC600;
}

.drexel-green {
    background-color: #B7BF10;
}

.drexel-green-2 {
    background-color: #949300;
}

.drexel-blue-2 {
    background-color: #006699;
}

.accordion-bc {
    background-color: red 
}

.drexel-gray {
    background-color: #E1E1E0;
}

.drexel-font-blue {
    color: #07294D
}

.drexel-font-white {
    color: white
}

.drexel-font-light-blue {
    color: #6CACE4
}




.accordion-button.collapsed {
    background: #E1E1E0;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.accordion-button::after {
    order: -1; 
    margin-left: 0; 
    margin-right:0.5em;
}
